.App {
  text-align: center;
  user-select: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: #2196F3;
}

main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.counter {  
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #282c34;
  color: white;
  border: none;
  margin: 20px 20px;
  cursor: pointer;
  user-select: none;
  font-size: 1.5em;
}

.button--increment {
  background-color: #00c040;
}

.button--decrement {
  background-color: #c04040;
}

.counter--value {
  font-size: 2em;
}